<div class="chattigo-widget__footer">
  <div class="c-send-message widget-send-message-box-js">
    <form [formGroup]="form">
      <div *ngIf="typeFile !== null && imgURL !== null" class="c-send-message__attachments">
        <div class="attachment__item">
          <div class="attachment__close">
            <span (click)="closeAttachment()" class="icon-close"></span>
          </div>
          <img [src]="imgURL" style="width:100%">
        </div>
      </div>
      <emoji-mart isNative="true" set="google" (emojiClick)="addEmoji($event)" *ngIf="displayEmoji" [i18n]="localeEmoji"></emoji-mart>
      <textarea #send (keydown)="keydownEvent(form.value, $event)"
                (keypress)="keyPressEvent($event)"
                (keyup)="keyPressEvent($event)"
                [placeholder]="sendConfig.messagePlaceholder"
                class="c-input c-send-message__input widget-message-input-js"
                formControlName="sendMessage"></textarea>
      <div class="c-send-message__actions">
        <input #attachmentInput (change)="uploadFile($event)" formControlName="uploadInput" hidden="true"
               size="10000000" type="file">
        <a (click)="attachmentInput.click();" href="javascript:void(0)"><span class="icon-attachment"></span></a>
        <a (click)="displayPanelEmoji()" href="javascript:void(0)"><span class="icon-emoji"></span></a>
        <a (click)="sendMessage(form.value)"
           [ngClass]="{'c-send-button--ready': (form.controls['sendMessage'].value !== '') && (form.controls['sendMessage'].value !== null)}"
           class="c-send-button"
           href="javascript:void(0)"><span class="icon-send"></span></a>
      </div>
    </form>
  </div>
</div>
