<div class="chattigo-widget__footer">
  <div class="c-send-message widget-send-message-box-js">
    <form [formGroup]="form">
      <div *ngIf="typeFile !== null && imgURL !== null" class="c-send-message__attachments">
        <div class="attachment__item">
          <div class="attachment__close">
            <span class="icon-close" (click)="closeAttachment()"></span>
          </div>
          <img [src]="imgURL" style="width:100%">
        </div>
      </div>
      <textarea #send (keypress)="keypress(form.value, $event)" (keyup.enter)="sendMessage(form.value, $event)"
                [placeholder]="sendConfig.messagePlaceholder"
                class="c-input c-send-message__input widget-message-input-js"
                formControlName="sendMessage"></textarea>
      <div class="c-send-message__actions">
        <input #attachmentInput (change)="uploadFile($event)" formControlName="uploadInput" hidden="true" type="file">
        <a (click)="attachmentInput.click();" href="javascript:void(0)"><span class="icon-attachment"></span></a>
        <a href="#"><span class="icon-emoji"></span></a>
        <a (click)="sendMessage(form.value, $event)" href="javascript:void(0)"><span class="icon-send"></span></a>
      </div>
    </form>
  </div>
</div>
