<div *ngIf="!hidden"  class="chattigo-widget chattigo-widget--welcome">
  <a (click)="toggleClose()" class="chattigo-widget__close-icon"><span class="icon-close" style="color: white; display: block"></span></a>
  <div [ngStyle]="{'background-image': headerColor}" class="chattigo-widget-header__background"></div>
  <app-header></app-header>
  <div class="chattigo-widget-content">
    <div class="chattigo-widget-team">
      <app-widget-caption></app-widget-caption>
      <app-team *ngIf="teamHidden"></app-team>
    </div>

    <div *ngIf="!loading" class="c-loader-bg" style="height: 100% !important;">
      <div class="c-loader"></div>
    </div>

    <app-input></app-input>

    <div class="chattigo-widget-form">
      <app-button (click)="login()"></app-button>
    </div>
  </div>
</div>
<app-trigger-button></app-trigger-button>
