<div class="chattigo-widget-header">
  <div class="chattigo-widget-header__background"></div>
  <img class="chattigo-widget-header__image" [src]="caption.src"/>
  <div class="chattigo-widget-header__agent-info">
    <label class="chattigo-widget-header__agent-info--name">{{caption.title}}</label>
    <span class="chattigo-widget-header__agent-info--status">{{caption.caption}}</span>
  </div>
  <div class="chattigo-widget-header__actions">
    <a (click)="toggleConfig()" class="chattigo-widget-header__actions--item"><span class="icon-config"></span></a>
    <a class="chattigo-widget-header__actions--item"><span class="icon-arrow-down"></span></a>
  </div>
</div>
