<ul class="c-list c-list--social-media">
  <li *ngFor="let item of socialMedia">
    <span (click)="routing(item)" [ngClass]="item.icon" style="cursor: pointer"></span>
  </li>
</ul>


<!--<ul class="c-list c-list&#45;&#45;social-media">-->
<!--  <li>-->
<!--    <span class="icon-social-twitter"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-instagram"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-linkedin"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-youtube"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-facebook"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-patreon"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-tumblr"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-twitch"></span>-->
<!--  </li>-->
<!--  <li>-->
<!--    <span class="icon-social-vimeo"></span>-->
<!--  </li>-->
<!--</ul>-->
