/* You can add global styles to this file, and also import other style files */
@import "https://develop.cdn.chattigo.com/css/chattigo.css";
@import '~@ctrl/ngx-emoji-mart/picker.css';

div.emoji-mart-preview  {
  display: none !important;
}

.emoji-mart-bar {
  display: none !important;
}

.emoji-mart {
  width: 100% !important;
}
